---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="archive">
    <!-- Author Info Section -->
    <section class="author-info">
      <div class="author-details">
        <h3>{{ site.author.name }}</h3>
        <div class="author-links">
          <a href="/blog" title="Blog">
            <i class="fas fa-feather-alt"></i> Blog
          </a>
          <a href="https://scholar.google.com/citations?user=Cb-ZgHEAAAAJ&hl=en&oi=ao" title="Google Scholar">
            <i class="ai ai-google-scholar"></i> Scholar
          </a>
          <a href="https://github.com/kyonofx" title="GitHub">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://twitter.com/xiangfu_ml" title="Twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="mailto:dainves1@gmail.com" title="Email">
            <i class="fas fa-envelope"></i> Email
          </a>
        </div>
        <div class="author-bio">
          <p>I’m a researcher at <a href="https://periodic.com/">Periodic Labs</a>, where I develop RL environments
            and agent harnesses for scientific LLMs, alongside machine learning methods for atomistic simulation.</p>
          <p>Before Periodic, I was at Meta FAIR and completed my PhD at MIT CSAIL, advised by <a
              href="https://people.csail.mit.edu/tommi/tommi.html">Tommi Jaakkola</a> and mentored by <a
              href="https://people.csail.mit.edu/pulkitag/">Pulkit Agrawal</a>.
            My research spans reinforcement learning and scientific discovery.
            I’m broadly interested in how learning systems can make effective use of data that varies in fidelity,
            scale, relevance, and abstraction.</p>
        </div>
      </div>
    </section>

    <!-- Research Section -->
    <section class="publications-section">
      <h3>Selected Research</h3>
      <div class="publication-list">
        
          <div class="publication">
            <strong>Nature Is Our Learning Environment.</strong><br>
            <em>Periodic Labs, 2026.</em><br>
            <a href="https://periodic.com/news/nature-is-our-learning-environment">blogpost</a>
          </div>

          <div class="publication">
            <strong>UMA: A Family of Universal Models for Atoms.</strong><br>
            <em>NeurIPS, 2025.</em><br>
            <a href="https://ai.meta.com/research/publications/uma-a-family-of-universal-models-for-atoms/">paper</a> |
            <a href="https://github.com/FAIR-Chem/fairchem">code</a> |
            <a href="https://huggingface.co/facebook/UMA">checkpoint</a>
          </div>

          <div class="publication">
            <strong>A Generative Model for Inorganic Materials Design.</strong><br>
            <em>Nature, 2025.</em><br>
            <a href="https://www.nature.com/articles/s41586-025-08628-5">paper</a> |
            <a href="https://github.com/microsoft/mattergen">code</a>
          </div>

          <div class="publication">
            <strong>Crystal Diffusion Variational Autoencoder for Periodic Material Generation.</strong><br>
            <em>ICLR, 2022.</em><br>
            <a href="https://arxiv.org/abs/2110.06197">paper</a> |
            <a href="https://github.com/txie-93/cdvae">code</a>
          </div>

          <div class="publication">
            <strong>Learning Task Informed Abstractions.</strong><br>
            <em>ICML, 2021.</em><br>
            <a href="https://arxiv.org/abs/2106.15612">paper</a> |
            <a href="https://github.com/kyonofx/tia">code</a>
          </div>
      </div>
      
      <p class="more-publications">
        For a full list of my publications, see my <a href="https://scholar.google.com/citations?user=Cb-ZgHEAAAAJ&hl=en">Google Scholar</a> profile.
      </p>
    </section>

    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
