---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include_cached masthead.html %}

<!-- xiang fu: ENABLE MATH -->
  <style TYPE="text/css">
    code.has-jax {
      font: inherit;
      font-size: 100%;
      background: inherit;
      border: inherit;
    }
  </style>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] // removed 'code' entry
      }
  });
  MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i = 0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
      }
  });
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>
<!-- xiang fu: ENABLE MATH -->


  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          <!-- {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %} -->
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <!-- Author Info Section -->
      <section class="author-info">
        <div class="author-details">
          <h3>{{ site.author.name }}</h3>
        <div class="author-links">
          <a href="/blog" title="Blog">
            <i class="fas fa-feather-alt"></i> Blog
          </a>
          <a href="https://scholar.google.com/citations?user=Cb-ZgHEAAAAJ&hl=en&oi=ao" title="Google Scholar">
            <i class="ai ai-google-scholar"></i> Scholar
          </a>
          <a href="https://github.com/kyonofx" title="GitHub">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://twitter.com/xiangfu_ml" title="Twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="mailto:dainves1@gmail.com" title="Email">
            <i class="fas fa-envelope"></i> Email
          </a>
        </div>
          <div class="author-bio">
            <p>I work on AI + Atoms. Previously, I was on the <a href="https://fair-chem.github.io/">FAIR Chemistry</a> team at Meta. I completed my PhD at MIT CSAIL, advised by <a href="https://people.csail.mit.edu/tommi/tommi.html">Tommi Jaakkola</a>.</p>
          </div>
        </div>
      </section>

      <!-- Publications Section -->
      <section class="publications-section">
        <h3>Selected Publications</h3>
        <div class="publication-list">
          <div class="publication">
            <strong>Learning Smooth and Expressive Interatomic Potentials for Physical Property Prediction.</strong><br>
            <em>ICML 2025.</em><br>
            <a href="https://icml.cc/virtual/2025/poster/45302">paper</a>
          </div>
          
          <div class="publication">
            <strong>UMA: A Family of Universal Models for Atoms.</strong><br>
            <em>NeurIPS 2024.</em><br>
            <a href="https://ai.meta.com/research/publications/uma-a-family-of-universal-models-for-atoms/">paper</a> |
            <a href="https://github.com/FAIR-Chem/fairchem">code</a> |
            <a href="https://huggingface.co/facebook/UMA">checkpoint</a>
          </div>
          
          <div class="publication">
            <strong>A Generative Model for Inorganic Materials Design.</strong><br>
            <em>Nature 2025.</em><br>
            <a href="https://www.nature.com/articles/s41586-025-08628-5">paper</a> |
            <a href="https://github.com/microsoft/mattergen">code</a>
          </div>

          <div class="publication">
            <strong>A Recipe for Charge Density Prediction.</strong><br>
            <em>NeurIPS 2024.</em><br>
            <a href="https://arxiv.org/abs/2405.19276">paper</a> |
            <a href="https://github.com/kyonofx/scdp">code</a>
          </div>

          <div class="publication">
            <strong>MOFDiff: Coarse-grained Diffusion for Metal-Organic Framework Design.</strong><br>
            <em>ICLR 2024.</em><br>
            <a href="https://arxiv.org/abs/2310.10732">paper</a> |
            <a href="https://github.com/microsoft/MOFDiff">code</a>
          </div>

          <div class="publication">
            <strong>Crystal Diffusion Variational Autoencoder for Periodic Material Generation.</strong><br>
            <em>ICLR 2022.</em><br>
            <a href="https://arxiv.org/abs/2110.06197">paper</a> |
            <a href="https://github.com/txie-93/cdvae">code</a>
          </div>

          <div class="publication">
            <strong>Learning Task Informed Abstractions.</strong><br>
            <em>ICML 2021.</em><br>
            <a href="https://arxiv.org/abs/2106.15612">paper</a> |
            <a href="https://github.com/kyonofx/tia">code</a>
          </div>
        </div>
        
        <p class="more-publications">
          For a complete list, see my <a href="https://scholar.google.com/citations?user=Cb-ZgHEAAAAJ&hl=en">Google Scholar</a> page.
        </p>
      </section>

      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

</div>
